<div class="container-fluid" style = "background-color: antiquewhite; height: 900px;">
  <div class="jumbotron text-center box1">
    <h1>Welcome to My Kitchen</h1>
  </div>

  <div class="container">
    <div class = "row" >
      <div class = "col-sm-6 box2">
        <div *ngFor = "let food of foods">
          <div class="box4">
            <div class = "inline_block">
              <img src= {{food.URL}} class="img1">
            </div>
            <div class = "inline_block" style="margin-left: 15%">
              <h4>{{food.name}}</h4>
              <button class="btn btn-info" (click)="Chooseingredients(food.name)">Select</button>
            </div>
          </div>
        </div>
      </div>

      <div class = "col-sm-6">
        <div class="box5">
          <button class="btn btn-success btn-block"  (click)="OrderMenu()">Order</button>
          <div style="background-color: lightyellow; padding: 5px;">
            Ingredients Chosen:
            <span *ngIf="Ingredients.length > 0">{{Ingredients[0]}} </span>
            <span *ngIf="Ingredients.length > 1">{{Ingredients[1]}}</span>
          </div>
        </div>
        <div class="card box3">
          <img class="card-img-top" src = {{MealUrl}} alt="Card image" style="height: 240px; width: 100%">
          <div class="card-body">
            <p class="card-text">Your Meal: {{MealName}}</p>
          </div>
        </div>
        <div class="box5">
          <button class="btn btn-secondary btn-block" (click)="ResetMeal()">Reset</button>
        </div>
      </div>

    </div>
  </div>

</div>
